.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  background-color: #f55a5a;
  padding: 4px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.nav--title {
  padding-left: 8px;
  font-weight: 500;
  letter-spacing: -0.075em;
}

#globe-icon {
  font-size: 29px;
}

.card {
  display: flex;
  margin-left: 40px;
  margin-top: 10px;
  justify-content: center;
}

/* .card--image-container {
  flex: 0 0 auto;
} */

.card--image {
  width: 225px;
  height: 269px;
  border-radius: 8px;
  object-fit: cover;
}

.card--details {
  margin-left: 20px;
  margin-right: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 14px;
}

#location-icon {
  color: #f55a5a;
  margin-right: 4px;
}

.location--title {
  color: black;
  letter-spacing: 0.10em;
}

.location--title:hover {
  color: #918e9b;
}

.location--maps {
  color: #918e9b;
  margin-left: 12px;
}

.location--maps:hover {
  text-decoration: underline;
}

.card--title {
  line-height: 36px;
  margin-top: 12px;
}

.card--date {
  font-weight: 700;
  margin-top: 24px;
}

.card--paragraph {
  line-height: 150%;
}

.solid {
  margin-top: 30px;
  border-top: 1px solid #f5f5f5;
  width: 93vw;
}

@media screen and (max-width: 576px) {
  .navbar {
    margin-bottom: 20px;
  }

  .card {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-top: 30px;
  }

  .card--image {
    width: 90vw;
    height: 260px;
  }

  .card--details {
    margin: 0;
    margin-top: 8px;
    width: 90vw;
  }

  .card--title {
    margin-top: 4px;
    margin-bottom: 8px;
  }

  .card--date {
    margin-top: 12px;
  }

  .solid {
    margin-top: 10px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .card--image {
    width: 38vw;
    height: 360px;
  }
}
