.navbar {
  background-color: #f55a5a;
  padding: 8px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-title {
  padding-left: 8px;
  font-weight: 500;
  letter-spacing: -0.075em;
  /* font-size: 14px; */
}

#globe-icon {
  font-size: 29px;
}
